@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@700&family=Quicksand:wght@300&family=Roboto+Slab:wght@900&family=Roboto:ital,wght@1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;   
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 5%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px ;

}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;
}
.fa-search .fa-shopping-cart{
    margin: 0 3px;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 7px 10px;
    background-image: linear-gradient(90deg, #c21273, #E02C6D);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 7px 2 #a5075e;
    position: relative;
    top: 0;
    margin-top: 20px;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 2 #a5075e;  
}
#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none ;
    font-size: 30px;
}
/* Banner part */
.banner{
    height: calc(100vh - 80px);
    min-height: 500px;
    display: flex;
    position: relative;
    column-gap: 40px;
}
.banner-left {
    width: 582px;
    height: 270px;
    left: 210px;
    top: 315px;
}
.banner-right{
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
.banner-left h1{
    font-size: 40px; 
}
.banner-left p{
    font-size: 14px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right img{
    height: 80%;
    width: 80%;
    margin: 10%;
    object-fit: cover;
}

/* Websites */
.websites img{
    margin: 0 2.8%;
    height: fit-content;
    width: fit-content; 
   
}
    
/* Product Details */

h2{
    font-size: 30px;
    text-transform: uppercase;
    margin: 50px 0;
    text-align: center;
}
.products-section .product-banner img{
    width: 300px;
    height: 256px;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.product{
    width: 329px;
    height: 476px;
    padding: 20px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, .2);
}
.fa-star{
    font-size: 12px;
}

.fa-star.filed{
    color:#FB8200;
}
.fa-star.empty{
    color: #858072 ;
}
.product-detail p{
    color: #787885;
    font-size: 14px;
}


.products-section button{
    margin-top: 20px;
    color: #E02C6D;
    background: none;
    border-color: #fff;
    width : 80px;
    height: 24px;
    align-items: right;
}

.extra{
    margin-top: 40PX;
    background: cyan;
    text-align: center;
    justify-content: center;
   
}

footer{

    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 2% 0;
    margin-top: 100px;
   
}
footer i{
    margin: 0 1%;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 50%;
}



/* Responsive CSS */

@media (max-width:1200px) {
    .products,
    .extra{
        grid-template-columns: 1fr 1fr;
       
    }
    .banner{
        flex-direction: column;
        height: fit-content;
     }
    .banner-left h1{
        font-size: 30px; 
    }
    .banner-left{
        order: 2;
        padding: 50px 0;
    }
}

@media only screen and (max-width:688px){
    .banner{
       flex-direction: column;
       height: fit-content;
    }
    .products,
    .extra{
        grid-template-columns: 1fr;
    }
    .banner-left{
        order: 2;
        padding: 50px 0;
    }
    .nav-toggler-icon{
        display: block;
    }
    
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color:white ;
        padding: 0 0 0 20px;
        transform: translateY(-350px);
        transition: .6s ease-in-out;
      
    }
    .navigation li a{
        color: black;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(-80px);

    }


    }
}
